## Informações sobre o dataset

  O dataset provém do repositório de aprendizado de máquina da universidade X. Como dito anteriormente, o problema se trata de análise de dados a respeito de comentários no Facebook. Para solucionar tal problema, foram reunidos dados de grupos e páginas públicas como postagens de administradores dos mesmos e a quantidade de seus respectivos comentários.
  A base de dados vem inicialmente, vem em um arquivo em formato .Zip. Onde, neste, está contido todo o volume de dados já dividido em partes voltadas para treinos e testes de algoritmos de aprendizagem de máquina.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
import time

In [3]:
cols = range(53)

In [5]:
gb = GradientBoostingRegressor(n_estimators=100000, min_samples_split=5, random_state=42)

In [6]:
test2 = pd.read_csv('facebook_general_dataset/Dataset/Training/Features_Variant_1.csv', header=None)

dataset_x = test2.iloc[:, :-1].values
dataset_y = test2.iloc[:, -1].values

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset_x,dataset_y, 
                                                    test_size = 0.25, random_state=0)

In [ ]:
start_time = time.time()
gb.fit(X_train, y_train)
y_pred = gb.predict(X_test)
print("--- %s seconds ---" % (time.time() - start_time))

In [41]:
y_pred = gb.predict(X_test)

In [42]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

mean_absolute_error(y_test, y_pred)
mean_squared_error(y_test, y_pred)

0.30468783928013726

In [62]:
test1.describe()

,634995,0,463,1,0.0,806.0,11.291044776119403,1.0,70.49513846124168,0.0.1,...,0.10,0.11,0.12,0.13,0.14,0.15,0.16,0.17,0.18,1.2
count,4.094800e+04,40948.000000,4.094800e+04,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,...,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000,40948.000000
mean,1.313830e+06,4676.247949,4.480133e+04,24.255348,1.586280,443.324998,55.721469,35.646381,67.464077,0.219473,...,0.144036,0.146161,0.136930,0.141643,0.132510,0.137638,0.148603,0.150850,0.143890,0.144867
std,6.785834e+06,20593.423357,1.109349e+05,19.950496,20.753426,496.698029,86.934332,69.960877,81.569243,10.055268,...,0.351131,0.353272,0.343777,0.348688,0.339048,0.344524,0.355701,0.357907,0.350982,0.351971
min,3.600000e+01,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.673400e+04,0.000000,6.980000e+02,9.000000,0.000000,45.000000,5.527273,2.000000,8.278756,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.929110e+05,0.000000,7.141000e+03,18.000000,0.000000,241.000000,23.374101,12.000000,35.069140,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.204214e+06,99.000000,5.026400e+04,32.000000,0.000000,717.000000,71.828829,42.000000,102.554954,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.869723e+08,186370.000000,6.089942e+06,106.000000,2341.000000,2341.000000,2341.000000,2341.000000,731.394558,1923.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
target1.describe()

                1.3
count  10043.000000
mean      29.243254
std      115.038804
min        0.000000
25%        0.000000
50%        2.000000
75%       13.000000
max     2412.000000